<!DOCTYPE html>
<html lang="Zh-CN">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <!-- Link CSS -->
	<link rel="stylesheet" href="dwz/css/style.css">
</head>
<body>
	<div class="wrapper">
		<form class="form-signin" action="http://localhost:3000/api/v1/user/login" method="post" id="form1">
			<h2 class="form-signin-heading text-center">Login Form</h2>
			<input type="text" name="user_name" class="form-control" placeholder="用户名" required><br>
			<input type="password" name="password"class="form-control" placeholder="密码" required><br>
			<button class="btn btn-lg btn-primary btn-block" form="form1">Login</button>
		</form>
	</div>
</body>
</html>